.entry-summary-container {
    padding: 20px;
    position: relative;
  }
  
  .error {
    color: red;
  }
  
  .details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-entry-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .date {
    margin-left: auto;
    font-style: italic;
  }
  
  .title {
    font-weight: bold;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
  }
  
  .image {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
  }
  
  .edit-button-container {
    position: absolute;
    bottom: -300px;
    right: 10px;
  }
  
  .edit-button {
    background-color: #8b4513;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
  }

.back-link,
.edit-link {
  cursor: pointer;  
  text-decoration: none;
  color: inherit;
  font-style: italic;
  font-size: 30px;
}