.image-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-uploader-container h3 {
    margin-bottom: 10px;
  }
  

  .image-uploader-container input[type="file"] {
    display: none; 
  }
  
  .image-uploader-container .upload-button {
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .image-uploader-container .upload-button:hover {
    background-color: #8b4513;
  }
  
  /* Styling for grid layout */
  .image-uploader-container label {
    display: inline-block;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .image-uploader-container label:hover {
    background-color: #f0f0f0;
  }
  
  .image-uploader-container img {
    max-width: 100px; 
    max-height: 100px; 
    margin: 5px;
  }
  
  .i-u-h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
  }