.signin-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: transform 0.5s ease;
}

.signin-form, .signup-form {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-top: -220px;
}

.signup-form {
  margin-top: -120px;
}

.signin-title, .signup-title {
  font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.signin-input, .signup-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.signin-input label, .signup-input label {
  margin-bottom: 9px;
  margin-top: 15px;
  font-style: italic;
  color: #555;
}

.signin-input input, .signup-input input {
  width: calc(100% - 30px);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

.signin-input input::placeholder, .signup-input input::placeholder {
  color: #999;
}

.signin-input input:focus, .signup-input input:focus {
  border-color: #8b4513;
}

.signin-button, .signup-button {
  text-align: center;
  margin-top: 10px;
}

.signin-button button, .signup-button button {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 600px;
  height: 40px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-bottom: 20px;
}

.signin-button button:hover, .signup-button button:hover {
  background-color: #6e2c09;
}


.signin-container.loading, .signup-container.loading {
  transform: translateX(-100%);
}


.signin-title, .signup-title {
    overflow: hidden; 
    animation: typing 3s steps(30, end);
  }
  @media screen and (max-width: 600px) {
    .signin-form, .signup-form {
      width: 90%;
      margin: auto;
    }
  
    .signin-title, .signup-title {
      font-size: 28px;
    }
  
    .signin-input, .signup-input {
      margin-left: 0;
    }
  
    .signin-button button, .signup-button button {
      width: 100%;
    }
  }
  
  @keyframes typing {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }
  
 
  .signin-container.loading {
    transform: translateX(-100%);
  }


   